* {
  /**
    By default do not allow any user text selection, only enable
    for certain parts on a per-element/region area
  */
    -moz-user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #26272c;
  overflow: hidden;
  height: 100%;
}

/* for the pick activity */
#wallpapers {
  overflow: auto;
  height: calc(100% - 5rem);
}

.wallpaper {
  border-bottom: 0.1rem solid #000000;
  border-right: 0.1rem solid #000000;
  position: relative;
  overflow: hidden;
  float: left;
  width: 33%;
}

#wallpapers .wallpaper:nth-child(3n) {
  border-right: none;
}

/* for the share activity */
#preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  /*
   * The image positioning code in share.js assumes the preview image
   * is positioned in the upper-left corner
   */
  direction: ltr;
}

#buttons {
  -moz-box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  padding: 1.5rem 1rem;
  font-size: 0;
  white-space: nowrap;
}

#buttons button {
  width: calc((100% - 2rem) / 2);
  margin: 0 0.5rem;
}

