<!-- Non-search header -->
<section data-prop="normalHeader"
         class="msg-list-header msg-nonsearch-only"
         data-statuscolor="default"
         role="region">
  <header>
    <!-- Unlike a generic back button that navigates to a different screen,
       folder list header button triggers the folders and settings overlay. Thus
       the screen reader user requires more context as to what activating the
       button would do. -->
    <a href="#" class="msg-folder-list-btn" data-event="click:onShowFolders"
       aria-expanded="false" aria-controls="cards-folder-picker"
       role="button" data-l10n-id="message-list-menu">
      <span class="icon icon-menu"></span>
    </a>
    <menu data-prop="headerMenuNode" type="toolbar" class="anim-opacity">
      <a href="#" class="msg-compose-btn" data-event="click:onCompose"
         data-l10n-id="message-list-compose">
        <span class="icon icon-compose"></span>
      </a>
    </menu>
    <h1 data-prop="folderLabel"
        class="msg-list-header-folder-label header-label">
      <span data-prop="folderNameNode"
            dir="auto"
            class="msg-list-header-folder-name"></span>
      <span data-prop="folderUnread"
            class="msg-list-header-folder-unread collapsed"></span>
      </h1>
  </header>
</section>
<!-- Multi-edit state header -->
<section data-prop="editHeader"
         class="msg-listedit-header collapsed" role="region">
  <header>
    <a href="#" data-event="click:setEditModeDone"
       class="msg-listedit-cancel-btn" role="button"
       data-l10n-id="close-button">
      <span class="icon icon-close"></span>
    </a>
    <h1 data-prop="headerNode" class="msg-listedit-header-label">
    </h1>
  </header>
</section>
<!-- Search header -->
<section role="region" data-prop="searchHeader"
         class="msg-search-header msg-search-only">
  <form role="search" data-event="submit:onSearchSubmit">
    <button data-event="click:onCancelSearch"
            class="msg-search-cancel" type="submit"
            data-l10n-id="message-search-cancel"></button>
    <p>
      <input data-prop="searchInput" data-event="input:onSearchTextChange"
             type="text" required="required" class="msg-search-text"
             autocorrect="off"
             inputmode="verbatim"
             x-inputmode="verbatim"
             dir="auto"
             data-l10n-id="message-search-input" />
      <button type="reset" data-l10n-id="form-clear-input" data-event="click:onClearSearch"></button>
    </p>
  </form>
  <!-- Search filter switcher -->
  <header class="msg-search-controls-bar">
    <ul role="tablist" class="bb-tablist filter" data-type="filter">
      <li role="presentation" class="msg-search-from msg-search-filter"
          data-filter="author">
        <a data-l10n-id="message-search-from" role="tab"
          aria-selected="false"></a></li>
      <li role="presentation" class="msg-search-to msg-search-filter"
          data-filter="recipients">
        <a data-l10n-id="message-search-to" role="tab"
          aria-selected="false"></a></li>
      <li role="presentation" class="msg-search-subject msg-search-filter"
           data-filter="subject">
        <a data-l10n-id="message-search-subject" role="tab"
          aria-selected="false"></a>
      </li>
      <li role="presentation" class="msg-search-body msg-search-filter"
           data-filter="body">
        <a data-l10n-id="message-search-body" role="tab"
          aria-selected="false"></a></li>
      <li role="presentation" class="msg-search-body msg-search-filter"
          data-filter="all">
        <a data-l10n-id="message-search-all" role="tab"
          aria-selected="true"></a></li>
    </ul>
  </header>
</section>
<!-- Scroll region -->
<div data-prop="scrollContainer" class="msg-list-scrollouter">
  <!-- exists so we can force a minimum height -->
  <div class="msg-list-scrollinner">
    <!-- The search textbox hides under the lip of the messages.
         As soon as any typing happens in it, we push the search
         controls card. -->
    <form role="search" data-prop="searchBar"
          class="msg-search-tease-bar msg-nonsearch-only">
      <p>
        <input data-event="focus:onSearchButton"
               class="msg-search-text-tease" type="text"
               dir="auto"
               data-l10n-id="message-search-input" />
      </p>
    </form>
    <div data-prop="messagesContainer" class="msg-messages-container"
         role="listbox" aria-multiselectable="true">
    </div>
    <!-- maintain vertical space for the syncing/sync more div's
         regardless of their displayed status so we don't scroll them
         out of the way -->
    <div class="msg-messages-sync-container">
      <p data-prop="syncingNode" class="msg-messages-syncing collapsed">
        <span data-l10n-id="messages-syncing"></span>
      </p>
      <p data-prop="syncMoreNode"
         data-event="click:onGetMoreMessages"
         class="msg-messages-sync-more collapsed">
        <span data-l10n-id="messages-load-more"></span>
      </p>
    </div>
  </div>
</div>
<!-- New email notification bar -->
<div class="message-list-topbar"></div>
<!-- Conveys background send, plus undo-able recent actions -->
<div class="msg-activity-infobar hidden">
</div>
<!-- Toolbar for non-multi-edit state -->
<ul data-prop="normalToolbar" class="bb-tablist msg-list-action-toolbar"
    role="toolbar">
  <li role="presentation" class="msg-nonsearch-only">
    <button data-prop="refreshBtn" data-event="click:onRefresh"
            class="icon msg-refresh-btn" data-state="synchronized"
            data-l10n-id="messages-refresh-button">
    </button>
  </li>
  <li role="status" class="msg-nonsearch-only msg-last-sync">
    <span data-prop="lastSyncedLabel"
          class="msg-last-synced-label"
          data-l10n-id="folder-last-synced-label"></span>
    <span data-prop="lastSyncedAtNode"
          class="msg-last-synced-value"></span>
  </li>
  <li role="presentation">
    <button data-prop="editBtn" data-event="click:setEditModeStart"
            class="icon msg-edit-btn" data-l10n-id="edit-button"></button>
  </li>
</ul>

<!-- Toolbar for multi-edit state -->
<ul data-prop="editToolbar"
    class="bb-tablist msg-listedit-action-toolbar collapsed"
    role="toolbar">
  <li role="presentation">
    <button data-prop="deleteBtn" data-event="click:onDeleteMessages"
            class="icon msg-delete-btn"
            data-l10n-id="message-delete-button"></button>
  </li>
  <li role="presentation">
    <button data-prop="starBtn" data-event="click:onStarMessages"
            class="icon msg-star-btn"
            data-l10n-id="message-star-button"></button>
  </li>
  <li role="presentation">
    <button data-prop="readBtn" data-event="click:onMarkMessagesRead"
            class="icon msg-mark-read-btn"
            data-l10n-id="message-mark-read-button"></button>
  </li>
  <li role="presentation">
    <button data-prop="moveBtn" data-event="click:onMoveMessages"
            class="icon msg-move-btn"
            data-l10n-id="message-move-button"></button>
  </li>
</ul>

<div data-prop="messageEmptyContainer"
     class="msg-list-empty-container collapsed">
  <p data-prop="messageEmptyText"
     class="msg-list-empty-message-text"
     data-l10n-id="messages-folder-empty"></p>
</div>
